# Build outputs
bin/
obj/
publish/
dist/

# Dependencies
node_modules/
.npm/

# User-specific / IDE files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local
*.log
